header {
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border:solid rgb(221, 221, 4);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 10px;
    width: 120%;
    height: 7vh;
    margin-top: -10px;
}

.square {
    width: 30px;
    height: 30px;
    background-color: rgba(82, 82, 82, 0.747);
}