#container {
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;
    margin-top: 10px;
}

#container.seleccionado::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    height: 120%;
    left: 20px;
    z-index: -1;
    border-radius: 5px;
}

#tarjeta{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    clip-path: polygon(2% 0, 100% 0, 95% 0, 90% 100%, 2% 100%, 0 50%);
    width: 90%;
    font-size: large;
    padding-left: 20px;
    margin-left: 50px;
    gap: 1rem;
}

#tarjeta.seleccionado::before {
    position: absolute;
    content: "";
    width: calc(100% + 8px);
    height: 120%;
    left: 20px;
    background-color: rgba(110, 82, 4, 0.541);
    z-index: -1;
    border-radius: 5px;
}

#tarjeta.seleccionado{
    color: yellow;
}

#circle{
    border-radius: 50%;
    height: 25px;
    aspect-ratio: 1;
    background-color: rgb(104, 104, 104);
}

#pokeImg{
    max-height: 50px;
}